[Unit]
Description=Rebootmgr
After=network-online.target consul.service

Documentation=https://intra.syseleven.de/confluence/pages/viewpage.action?spaceKey=CLOUD&title=Design+Document%3A+Unattended+Reboots

[Service]
Type=oneshot
ExecStart=/usr/bin/rebootmgr -v --check-holidays --check-uptime --check-triggers
# see rebootmgr/rebootmgr/main.py for a list of error codes
SuccessExitStatus=0 3 4 101 102

